<template>
  <div class="index">
    
    <!--////////////////////////////////////////////////-->
    <v-carousel
      cycle
      height="650"
      hide-delimiter-background
      show-arrows-on-hover
      vertical-delimiters
    >
      <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src">
      </v-carousel-item>
    </v-carousel>

    <!--////////////////////////////////////////////////-->
    <div class="m-t100">
      <v-row justify="center">
        <v-col v-for="i in cards" :key="i" cols="12" md="2">
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="mx-auto rounded-b-circle"
              height="280"
              max-width="200"
              :img="`${i.back_img}`"
            >
              <v-expand-transition>
                <div
                  v-if="hover"
                  class="myDIV d-flex transition-fast-in-fast-out v-card--reveal display-1 white--text"
                  style="height: 100%"
                >
                  <h4 style="color: white text-align: center">{{ i.sub }}</h4>
                </div>
              </v-expand-transition>

              <div class="myhide">
                <div style="background-color: cornflowerblue">
                  <h3 style="text-align: center; color: white">
                    {{ i.title }}
                  </h3>
                </div>

                <div class="m-t50">
                  <v-img
                    class="center"
                    max-height="80"
                    max-width="80"
                    :src="`${i.img}`"
                  ></v-img>
                </div>
              </div>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </div>

    <!--////////////////////////////////////////////////-->
    
        <div class="m-t100 p-b50" style=" background-color: #CFD8DC;">
          <v-divider></v-divider>
          <h1 style="text-align:center ;  ">some of our clients</h1>

          <v-row justify="center" align="center">
            <v-col v-for="i in clients" :key="i" cols="12" md="1">

              <v-img max-height="50" max-width="50" :src="`${i.img}`"></v-img>

            </v-col>
          </v-row>

          <v-row align="center" justify="center" class="m-t15">
            <v-btn class="pa-8 rounded-r-xl text-center " color="blue-grey lighten-5">

              <v-icon right dark> mdi-arrow-right </v-icon>

              VIEW ALL WORK
            </v-btn>
          </v-row>
        </div>
        <!--////////////////////////////////////////////////-->

        <v-card class="mx-auto " height="400" width="100%"
          img="https://alefban.com/wp-content/uploads/2018/04/Freelancer-02-Alefban.jpg">


          <v-row align="end" justify="end">

            <div class="m-l30 m-t100" >
              <v-list-item-title class="headline mb-6">
                make a video clipped
                <v-avatar size="56">
                  <v-img alt="user" src="../assets//4.png"> </v-img>
                </v-avatar>

               
              </v-list-item-title>
              <v-list-item-subtitle class="headline mb-1 m-t30- m-r69 ">
                for crest brand</v-list-item-subtitle>
             
            </div>

          </v-row>


          <div class="p-r146">
            <v-btn icon>
              <v-icon x-large color='white'>mdi-play</v-icon>
            </v-btn>
          </div>
        </v-card>
        <!--////////////////////////////////////////////////-->


        <v-card style="padding-top: 4px;" flat class="text-center" color="#EEEEEE">
          <h2>Subscribe Our Newsletter</h2>
          <v-card-text class="black--text pt-0">
            Get the bast news and stories delivered to your inbox
          </v-card-text>


          <v-form>
            <v-container>
              <v-row justify="center" align="center">

                <v-col cols="12" md="2" class="p-t0"  >
                  <v-btn color="deep-purple lighten-1" x-large class="rounded-r-xl white--text ">
                    Subscribe
                  </v-btn>
                </v-col>

                <v-col cols="12" md="6"  class="m-t15" >
                  <v-text-field solo class="rounded-l-xl" label="E-mail" required></v-text-field>
                </v-col>


              </v-row>
            </v-container>
          </v-form>
        </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //carousel
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
        },
      ],
      //card
      cards: [
        {
          title: "CREST WATCH",
          sub:
            "test test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
           img: require('../assets/4.png')
        },
        {
          title: "RAZAK DELICIUS",
          sub:
            "test test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
           img: require('../assets/3.png')
        },
        {
          title: "MC STARS",
          sub:
            "test test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
          img: require('../assets/2.png')
        },
        {
          title: "LAXMI",
          sub:
            "test test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
          img: require('../assets/1.png')
        },
      ],
       //clients
              clients:[
                {
                  img: require('../assets/1.png')
                },
                {
                   img: require('../assets/2.png')
                },
                {
                   img: require('../assets/3.png')
                },
                {
                  img: require('../assets/4.png')
                },
                {
                  img: require('../assets/1.png')
                }
                
              ],
    }
  }
}
</script>

<style>

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .myhide{
      display: block;
  }
  
  .myDIV:hover + .myhide {
    display: none;
  }
</style>

<style  scoped>
.m-t100 {
margin-top: 100px
}

.m-t50 {
margin-top: 50px
}

.p-b50{
  padding-bottom: 50px
}

.m-t15 {
margin-top: 15px
}

.m-l30 {
margin-left: 30px
}

.m-t30-{
margin-top: -30px
}

.m-r69{
 margin-right: 69px
}

.p-r146{
padding-right: 146px;
}

.p-t0{
  padding-top: 0px;
}

</style>
