<template>

        <v-footer class="deep-purple lighten-2">
          <v-container fluid>
            <v-layout>
              <v-flex md3>
                <p style="color: white; font-size: 17px;">تهران میرداماد میدان مادر خیابان شهید سنجابی (بهروز سابق) کوچه
                  شریفی پلاک 6 افق ارتباطات فردید | تلفن 021 22225896</p>
                <p style="color: white; font-size: 17px;">N 6 Sharifi Alley Sanjabi Ave Madar Sq Mirdamad Blvd tehran
                  Iran      |      +98 22 22 58 96</p>
                  <p style="color: white; font-size: 12px;">| Fardid Media @ 2019 . All Rights Reservad |</p>
              </v-flex>
              <v-flex md7 class="white--text pt-0 text-xs-center">

              </v-flex>
              <v-flex md2>

                <v-card flat tile class=" deep-purple lighten-2 text-end">

                  <v-card-text>
                    <v-avatar size="56" style="margin-left: -0px;">
                      <v-img alt="user" src="../assets/4.png"></v-img>
                    </v-avatar>
                    <p style="color: white; margin-bottom: 0px; font-size: 15px;">fardidmedia@gmail.com</p>

                    <v-btn v-for="icon in icons" :key="icon" class="mx-0 white--text" icon>
                      <v-icon size="24px">
                        {{ icon }}
                      </v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>

                  </v-card-text>

                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-footer>

</template>

<script>
export default {
  data() {
    return {
 //footer
                  icons: [
                    'mdi-facebook',
                    'mdi-twitter',
                    'mdi-linkedin',
                    'mdi-instagram',
                  ] 
    }}}
</script>

<style>

</style>

<style  scoped>

</style>