<template>
  <nav>
    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      right
      height="700"
      width="1500"
      color="#00000000"
    >
      <div class="cir">
        <v-list-item-group class="white--text">
          <v-list-item>
            <v-avatar size="56" style="margin-left: -0px">
              <v-img alt="user" src="../assets/4.png"></v-img>
            </v-avatar>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>SERVICES</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>infiuencer marketing</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>advertising</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>idea</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>consumer insight</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>ABOUT US</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>CONTACT US</v-list-item-title>
          </v-list-item>

          <v-btn icon @click.stop="drawer = !drawer">
            <v-icon> mdi-chevron-right</v-icon>
          </v-btn>
        </v-list-item-group>
      </div>
    </v-navigation-drawer>

    <v-toolbar class="color" dense dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"> </v-app-bar-nav-icon>

      <v-divider class="mx-4" vertical></v-divider>

      <div class="p-t25 m-r13">
        <v-text-field
          background-color="blue lighten-2"
          dark
          solo
          flat
          dense
          label="search"
          append-icon="mdi-magnify"
        >
        </v-text-field>
      </div>

      <v-divider vertical></v-divider>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </v-toolbar>
  </nav>
</template>
      
 


<script>
export default {
  data: () => ({
    drawer: false,
  }),
};
</script>

<style scoped>
</style>

<style  >
.cir {
  position: relative;
  width: 470px;
  height: 470px;
  border-radius: 100% 0 0 100%;

  background-image: linear-gradient(to right, #006699, #4cd3de);
}
.cir::after {
  content: "";
  position: absolute;
  top: 470px;
  left: 270px;
  height: 210px;
  width: 211px;
  background: radial-gradient(
    circle at bottom left,
    transparent 210px,
    #41c3d4 4.1vw
  );
  display: block;
}

.color {
  background-image: linear-gradient(to right, #006699, #4cd3de);
}
.p-t25 {
  padding-top: 25px;
}
.m-r13 {
  margin-right: 13px;
}
</style>